<mat-accordion>
  <mat-expansion-panel *ngFor="let movie of myMovies">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="title">
          {{ movie.title }}
        </div>
      </mat-panel-title>
      <mat-panel-description>
        <div class="description">
          {{ movie.category_name }}
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Release year: {{movie.release_year}}</p>
    <p>Run time :{{movie.running_time}} min</p>
  </mat-expansion-panel>
</mat-accordion>